{% extends 'base.html' %}

{% block main %}

<div class="mdc-component__containers">
  <h1 class="content" style="text-align: center;">
    Trading Bot laguz.tech
  </h1>
</div>

<div class="mdc-card demo-card undefined">
  <div class="demo-card__primary">
      <h1 class="demo-card__title mdc-typography--headline6">Lourdes Antonia Guzman Rodriguez</h1>
      <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
              <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised mdc-ripple-upgraded">
                  Button 1
              </button>
              <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised mdc-ripple-upgraded">
                  Button 2
              </button>
          </div>
      </div>
  </div>
</div>

{% endblock %}
