{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">Open Positions</h1>
  <div class="row">
    <div class="col">
      <h3>Stocks</h3>
      <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">Riot: 600</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h3>Stock Options</h3>
      <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">RIOT 07/05/2024 10.00 P: 1</li>
          <li class="list-group-item">RIOT 06/14/2024 14.00 P: 1</li>
          <li class="list-group-item">RIOT 06/21/2024 14.00 P: 1</li>
          <li class="list-group-item">RIOT 06/28/2024 18.00 C: 1</li>
          <li class="list-group-item">RIOT 06/21/2024 35.00 C: 7</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h3>Cryptocurrencies</h3>
      <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item">BTC: 0.1</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
