{% extends 'base.html' %}

{% block main %}

<div class="mdc-component__containers">
  <h1 class="content" style="text-align: center;">
    Trading Bot laguz.tech
  </h1>
</div>

<div class="mdc-card__actions">
  <button class="mdc-button mdc-card__action mdc-card__action--button">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">Action 1</span>
  </button>
  <button class="mdc-button mdc-card__action mdc-card__action--button">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">Action 2</span>
  </button>
</div>

{% endblock %}
